body{
  background-color: var(--preto-leve);
}
.thank-you{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--cinza-azul-leve);
  font-size: 100px;
}
.mail-image{
  width: 200px;
  color: var(--cinza-azul-leve);
}
.icone-rede-dark svg{
  height: 1.2rem;
  color: var(--branco);
  transition: all .3s ease;
}
.icone-rede-dark.linkedin:hover svg{
  color: #0A66C2;
}
.icone-rede-dark.github:hover svg{
   color: #a200ff;
}
.icone-rede-dark.youtube:hover svg{
   color: #FF0000;
}
.icone-rede-dark.instagram:hover svg{
   color: #ee00ff;
}